[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/wil"]
	path = external/wil
	url = https://github.com/microsoft/wil.git
[submodule "external/DirectXTK"]
	path = external/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
